@model TMRC_CSP.Models.DefaultMargin

@{
    ViewBag.Title = "Default Margin For Users";
    Layout = "~/Areas/Reseller/Views/Shared/_Layout.cshtml";
}

<h2>Default Margin For Users</h2>
<blockquote>Amount should be in Percentage</blockquote>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Default Margin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(m => m.Role)
        <div class="form-group">
            @Html.LabelFor(model => model.DefaultPercentage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DefaultPercentage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DefaultPercentage, "", new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
