@model TMRC_CSP.Models.TermsConditions
@{
    ViewBag.Title = "TermConditionsUsers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Term And Conditions for Customers</h2>
@using (Html.BeginForm("TermConditionsUsers", "Admin", FormMethod.Post))
{
   @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Role)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Info, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Info, new {  @class = "form-control", rows = "10" })
                @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}




