@model TMRC_CSP.Models.Invoice

<div id="container">

    <section id="memo">
        <div class="logo">
            @*<ib-span class="ib_drop_zone" data-tooltip="tooltip" data-placement="top" title="" style="width: 150px; height: 100px;" data-original-title="Drop image or click to upload your logo (max 2MB).<br>For better print resolution use larger image,<br>as it's automatically scaled down.">
                <ib-span>Drop your logo here<br><ib-span>(150 x 100px)</ib-span>
                <input type="file" accept="image/*" class="ib_drop_logo"></ib-span></ib-span>*@
            <img data-logo="company_logo" src="~/Images/TMRC-Logo1.jpg">
            <ib-div class="ib_remove_logo_overlay" data-tooltip="tooltip" data-placement="top">
                <ib-span class="ib_remove_logo" title="Remove logo">
                    <i class="fa fa-times-circle"></i>
                </ib-span>
            </ib-div>
        </div>

        <div class="company-info">
            <span data-ibcl-id="company_name" class="ibcl_company_name" data-original-title="Company name">TMRC</span>

            <div class="separator less"></div>

            <span data-ibcl-id="company_address" class="ibcl_company_address" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Company's address">I8 Markez, Executive Center</span>
            <span data-ibcl-id="company_city_zip_state" class="ibcl_company_city_zip_state" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Company's zip, city and country">Islamabad, Pakistan</span>

            <br>

            <span data-ibcl-id="company_email_web" class="ibcl_company_email_web" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Company's web and email address">http://tmrc.com | tmrc@tmrc.com</span>
            <span data-ibcl-id="company_phone_fax" class="ibcl_company_phone_fax" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Company's contact phones">+555 7 789-1234</span>
        </div>
    </section>

    <section id="invoice-title-number">

        <span id="title" data-ibcl-id="invoice_title" class="ibcl_invoice_title" data-tooltip="tooltip" data-placement="top" title="Invoice title">INVOICE</span>
        <div class="separator"></div>
        <span id="number" data-ibcl-id="invoice_number" class="ibcl_invoice_number" data-tooltip="tooltip" data-placement="top" title="Invoice number">#@Model.InvoiceNumber</span>

    </section>

    <div class="clearfix"></div>

    <section id="invoice-info">
        <div>
            <span data-ibcl-id="issue_date_label" class="ibcl_issue_date_label" data-tooltip="tooltip" data-placement="top" title="Issue date">Issue Date:</span>
            <span data-ibcl-id="due_date_label" class="ibcl_due_date_label" data-tooltip="tooltip" data-placement="top" title="Invoice due date">Due Date:</span>
            <span data-ibcl-id="currency_label" class="ibcl_currency_label" data-tooltip="tooltip" data-placement="top" title="Invoice currency">Currency:</span>
            <span data-ibcl-id="po_number_label" class="ibcl_po_number_label" data-tooltip="tooltip" data-placement="top" title="P.O.">P.O. #</span>
        </div>

        <div>
            <span data-ibcl-id="issue_date" class="ibcl_issue_date" data-tooltip="tooltip" data-placement="top" title="Select invoice issue date" data-date="@DateTime.Now.Date.ToString("MM/dd/YYYY")">@DateTime.Now.Date.ToString("MM/dd/yyyy")</span>
            <span data-ibcl-id="due_date" class="ibcl_due_date" data-tooltip="tooltip" data-placement="top" title="Select invoice due date" data-date="@DateTime.Now.Date.ToString("MM/dd/YYYY")">@DateTime.Now.Date.ToString("MM/dd/yyyy")</span>
            <span data-ibcl-id="currency" class="ibcl_currency" data-tooltip="tooltip" data-placement="top" title="Invoice currency">USD</span>
            <span data-ibcl-id="po_number" class="ibcl_po_number" data-tooltip="tooltip" data-placement="top" title="P.O. Number">1/3-147</span>
        </div>
    </section>

    <section id="client-info">
        <span data-ibcl-id="bill_to_label" class="ibcl_bill_to_label" data-tooltip="tooltip" data-placement="top" title="">Bill to:</span>
        <div>
            <span class="client-name ibcl_client_name" data-ibcl-id="client_name" data-tooltip="tooltip" data-placement="top" title="Customer name">@Model.Customers.FirstName @Model.Customers.LastName</span>
        </div>

        <div>
            <span data-ibcl-id="client_address" class="ibcl_client_address" data-tooltip="tooltip" data-placement="top" title="Customer address1">@Model.Customers.Address1,</span>
        </div>

        <div>
            <span data-ibcl-id="client_address" class="ibcl_client_address" data-tooltip="tooltip" data-placement="top" title="Customer address2">@Model.Customers.Address2</span>
        </div>

        <div>
            <span data-ibcl-id="client_city_zip_state" class="ibcl_client_city_zip_state" data-tooltip="tooltip" data-placement="top" title="Customer city, zip, country">@Model.Customers.City, @Model.Customers.ZipCode, @Model.Customers.Country</span>
        </div>

        <div>
            <span data-ibcl-id="client_phone_fax" class="ibcl_client_phone_fax" data-tooltip="tooltip" data-placement="top" title="Client phone number">@Model.Customers.PhoneNumber</span>
        </div>

        <div>
            <span data-ibcl-id="client_email" class="ibcl_client_email" data-tooltip="tooltip" data-placement="top" title="Customer email">@Model.Customers.Email</span>
        </div>

        @*<div>
            <span data-ibcl-id="client_other" class="ibcl_client_other" data-tooltip="tooltip" data-placement="top" title="Enter other client info"  >Attn: Fred Flintstone</span>
            </div>*@
    </section>

    <div class="clearfix"></div>

    <section id="items">

        <table cellpadding="0" cellspacing="0">

            <tbody>
                <tr>
                    <th data-ibcl-id="item_row_number_label" class="ibcl_item_row_number_label" data-tooltip="tooltip" data-placement="top" title=""></th> <!-- Dummy cell for the row number and row commands -->
                    <th data-ibcl-id="item_description_label" class="ibcl_item_description_label" data-tooltip="tooltip" data-placement="top" title="Items">Item</th>
                    <th data-ibcl-id="item_description_label" class="ibcl_item_description_label" data-tooltip="tooltip" data-placement="top" title="Billing Frequency">Billing Frequency</th>
                    <th data-ibcl-id="item_quantity_label" class="ibcl_item_quantity_label" data-tooltip="tooltip" data-placement="top" title="License">License</th>
                    <th data-ibcl-id="item_price_label" class="ibcl_item_price_label" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Price">Price</th>
                    @*<th data-ibcl-id="item_discount_label" class="ibcl_item_discount_label" data-tooltip="tooltip" data-placement="top" title="Discount">Discount</th>*@
                    <th data-ibcl-id="item_tax_label" class="ibcl_item_tax_label" data-tooltip="tooltip" data-placement="top" title="Total">Total</th>
                    @*<th data-ibcl-id="item_line_total_label" class="ibcl_item_line_total_label" data-tooltip="tooltip" data-placement="top" title="Enter line total header"  >Linetotal</th>*@
                </tr>

                @{
                    float OverAllTotalPrice = 0;
                    double DiscountMargin = (double)Session["Margin"];
                    float RemainingTotal = 0;
                    float DiscountPrice = 0;
                    float Saletax = 0;
                    int Num = 0;
                }

                @foreach (var i in Model.Cart)
                {
                    
                    Num =Num+1;
                    float UnitPrice = (float)System.Math.Round(i.ERPrice, 2);

                    //float DiscountPrice = (float)System.Math.Round((UnitPrice * DiscountMargin) / 100, 2);  //(float)System.Math.Round(UnitPrice - (UnitPrice * DiscountMargin) / 100, 2);
                    //float TotalPrice = (float)System.Math.Round(i.License * (UnitPrice - DiscountPrice) * i.PurchaseUnitNumber, 2);  //12 means for one year bydefault license duration


                    float TotalPrice = (float)System.Math.Round(i.License * UnitPrice * i.PurchaseUnitNumber, 2);  //12 means for one year bydefault license duration
                    OverAllTotalPrice += TotalPrice;
                    DiscountPrice = (float)System.Math.Round((OverAllTotalPrice * DiscountMargin) / 100, 2);
                    Saletax = (float)System.Math.Round((OverAllTotalPrice * Model.SaleTax.Amount) / 100, 2);
                    RemainingTotal = (OverAllTotalPrice + Saletax) - DiscountPrice;
                    @*<tr>
                        <td>@i.Name</td>
                        <td>@i.License</td>
                        <td>@UnitPrice</td>
                        <td>@DiscountPrice</td>
                        <td>@TotalPrice</td>
                        <td> <a onclick="DelItem(this,'@i.CartId')">Delete</a> </td>
                        </tr>*@

                    <tr data-iterate="item" style="">
                        <td data-ibcl-id="item_row_number" class="ibcl_item_row_number" data-tooltip="tooltip" data-placement="top" title="" style="position: relative;"><ib-span class="ib_row_commands" style="height:0px;"><ib-span class="ib_commands" style="display: none;"><ib-span class="ib_add" title="Insert row"><i class="fa fa-plus"></i></ib-span><ib-span class="ib_delete" title="Remove row"><i class="fa fa-minus"></i></ib-span><ib-span class="ib_move" title="Drag to reorder" style="cursor: move;"><i class="fa fa-sort"></i></ib-span></ib-span></ib-span><ib-span data-row-number="item_row_number">@Num</ib-span></td> <!-- Don't remove this column as it's needed for the row commands -->
                        <td><span class="show-mobile ibcl_item_description_label" data-ibcl-id="item_description_label" data-tooltip="tooltip" data-placement="top" title="Items" style="display: inline;">Item</span> <span data-ibcl-id="item_description" class="ibcl_item_description" data-tooltip="tooltip" data-placement="top" title="Items description">@i.Name</span></td>
                        <td><span class="show-mobile ibcl_item_description_label" data-ibcl-id="item_description_label" data-tooltip="tooltip" data-placement="top" title="Items" style="display: inline;">Billing Frequency</span> <span data-ibcl-id="item_description" class="ibcl_item_description" data-tooltip="tooltip" data-placement="top" title="Billing frequency">@i.PurchaseUnitNumber Months</span></td>
                        <td><span class="show-mobile ibcl_item_quantity_label" data-ibcl-id="item_quantity_label" data-tooltip="tooltip" data-placement="top" title="Quantity" style="display: inline;">License</span> <span data-ibcl-id="item_quantity" class="ibcl_item_quantity" data-tooltip="tooltip" data-placement="top" title="License">@i.License</span></td>
                        <td><span class="show-mobile ibcl_item_price_label" data-ibcl-id="item_price_label" data-tooltip="tooltip" data-placement="top" title="Price" style="display: inline;">Price</span> <span data-ibcl-id="item_price" class="ibcl_item_price add_currency_left" data-tooltip="tooltip" data-placement="top" title="" data-currency="$" data-original-title="Price">@UnitPrice</span></td>
                        @*<td><span class="show-mobile ibcl_item_discount_label" data-ibcl-id="item_discount_label" data-tooltip="tooltip" data-placement="top" title="Discount header" style="display: inline;">Discount</span> <span data-ibcl-id="item_discount" class="ibcl_item_discount" data-tooltip="tooltip" data-placement="top" title="Discount">@DiscountPrice</span></td>*@
                        <td><span class="show-mobile ibcl_item_tax_label" data-ibcl-id="item_tax_label" data-tooltip="tooltip" data-placement="top" title="Total Price" style="display: inline;">Tax</span> <span data-ibcl-id="item_tax" class="ibcl_item_tax ib_item_percentage" data-tooltip="tooltip" data-placement="top" title="Total Price">@TotalPrice</span></td>
                        @*<td><span class="show-mobile ibcl_item_line_total_label" data-ibcl-id="item_line_total_label" data-tooltip="tooltip" data-placement="top" title="Enter line total header"   style="display: inline;">Linetotal</span> <span data-ibcl-id="item_line_total" class="ibcl_item_line_total" data-tooltip="tooltip" data-placement="top" title=""></span></td>*@
                    </tr>
                    
                }


            </tbody>
        </table>

    </section>

    <section id="sums">

        <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th data-ibcl-id="amount_subtotal_label" class="ibcl_amount_subtotal_label" data-tooltip="tooltip" data-placement="top" title="Subtotal">Subtotal:</th>
                    <td data-ibcl-id="amount_subtotal" class="ibcl_amount_subtotal" data-tooltip="tooltip" data-placement="top" title="">$@OverAllTotalPrice</td>
                </tr>

                <tr data-iterate="tax" style="display: none;">
                    <th data-ibcl-id="tax_name" class="ibcl_tax_name" data-tooltip="tooltip" data-placement="top" title="Tax">Tax:</th>
                    <td data-ibcl-id="tax_value" class="ibcl_tax_value" data-tooltip="tooltip" data-placement="top" title=""></td>
                </tr>

                <tr class="amount-total">
                    <th data-ibcl-id="amount_total_label" class="ibcl_amount_total_label" data-tooltip="tooltip" data-placement="top" title="Total Amount">Total:</th>
                    <td data-ibcl-id="amount_total" class="ibcl_amount_total" data-tooltip="tooltip" data-placement="top" title="">$@OverAllTotalPrice</td>
                </tr>

                <!-- You can use attribute data-hide-on-quote="true" to hide specific information on quotes.
                     For example Invoicebus doesn't need amount paid and amount due on quotes  -->

                <tr data-hide-on-quote="true">
                    <th data-ibcl-id="amount_paid_label" class="ibcl_amount_paid_label" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Amount paid label">Sale Tax:</th>
                    <td data-ibcl-id="amount_paid" class="ibcl_amount_paid add_currency_left" data-tooltip="tooltip" data-placement="top" title="Amount paid" data-currency="$">+ @Saletax</td>
                </tr>

                @if (DiscountPrice != 0)
                {
                    <tr data-hide-on-quote="true">
                        <th data-ibcl-id="amount_paid_label" class="ibcl_amount_paid_label" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Amount paid label">Discount:</th>
                        <td data-ibcl-id="amount_paid" class="ibcl_amount_paid add_currency_left" data-tooltip="tooltip" data-placement="top" title="Amount paid" data-currency="$">- @DiscountPrice</td>
                    </tr>
                }

                <tr data-hide-on-quote="true">
                    <th data-ibcl-id="amount_due_label" class="ibcl_amount_due_label" data-tooltip="tooltip" data-placement="top" title="Amount due label">Amount Due:</th>
                    <td data-ibcl-id="amount_due" class="ibcl_amount_due" data-tooltip="tooltip" data-placement="top" title="">$@RemainingTotal </td>
                </tr>

            </tbody>
        </table>

    </section>

    <div class="clearfix"></div>

    <section id="terms">

        <span class="hidden ibcl_terms_label" data-ibcl-id="terms_label" data-tooltip="tooltip" data-placement="top" title="Terms and notes label">Terms &amp; Notes</span>
        <div data-ibcl-id="terms" class="ibcl_terms" data-tooltip="tooltip" data-placement="top" title="Invoice terms and notes">Fred, thank you very much. We really appreciate your business.<br>Please send payments before the due date.</div>

    </section>

    <div class="payment-info">
        <div data-ibcl-id="payment_info1" class="ibcl_payment_info1" data-tooltip="tooltip" data-placement="top" title="Payment details">Payment details:</div>
        <div data-ibcl-id="payment_info2" class="ibcl_payment_info2" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Payment details">ACC:123006705</div>
        <div data-ibcl-id="payment_info3" class="ibcl_payment_info3" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Payment details">IBAN:US100000060345</div>
        <div data-ibcl-id="payment_info4" class="ibcl_payment_info4" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Payment details">SWIFT:BOA447</div>
        <div data-ibcl-id="payment_info5" class="ibcl_payment_info5" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Payment details"></div>
    </div>

    <div class="bottom-circles">
        <section>
            <div>
                <div></div>
            </div>
            <div>
                <div>
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<br /><br />

